@import '../variables';

.responsive-iframe {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.darkButton {
  background-color: #343434;
  color: $text;
}

input {
  background-color: $inputBackground;
  color: $text;
}
